[submodule "External/AngryWasp.Serializer"]
	path = External/AngryWasp.Serializer
	url = https://github.com/bizshady/angrywasp.serializer
[submodule "External/Nerva.Rpc.CSharp"]
	path = External/Nerva.Rpc.CSharp
	url = https://github.com/bizshady/nerva.rpc.csharp