<?xml version="1.0" encoding="utf-8"?>
<!--Created by Angry Wasp's Sandbox Engine-->
<Content xmlns:ns0="Nerva.Toolkit.Config.Configuration, Nerva.Toolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" xmlns:ns1="System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" xmlns:ns2="System.Boolean, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" xmlns:ns3="Nerva.Toolkit.Config.Daemon, Nerva.Toolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" xmlns:ns4="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" xmlns:ns5="Nerva.Toolkit.Config.Wallet, Nerva.Toolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
  <ns0:Asset>
    <Fields />
    <Properties>
      <!-- Path to the NERVA CLI tools -->
      <ns1:ToolsPath Value="/home/steve/Projects/nerva/bin/" />
      <!-- Check for updates to the CLI tools on startup? -->
      <ns2:CheckForUpdateOnStartup Value="True" />
      <!-- Log the RPC requests and responses? Debug purposes only. Will blow out your log file -->
      <ns2:LogRpcTraffic Value="False" />
      <!-- Address to mine to -->
      <ns1:WalletAddress Value="NV1tXu3czVbaBWYcKg28X4P2mHrJZMnS8R3TshtYgJVrfA9XLrKRKzVcjaPLgjNiwzH3DNTeywRTURDJUY59a5Lb2vWSG9s5q" />
      <ns3:Daemon>
        <Fields />
        <Properties>
          <!-- RPC connection port -->
          <ns4:RpcPort Value="17566" />
          <!-- Should the RPC server be private. Recommended True unless you absolutely need remote access
          If you want the RPC server public, you MUST use a username and password to protect it
          The GUI will not start unless the credentials are set.
          ============================================================================
          ****************************************************************************
          USE A STRONG USERNAME AND PASSWORD.
          YOUR COINS ARE AT RISK BY USING A PUBLIC RPC SERVER. PROTECT IT AT ALL COSTS
          ****************************************************************************
          ============================================================================ -->
          <ns2:PrivateRpc Value="True" />
          <ns1:RpcLogin Value="user" />
          <ns1:RpcPass Value="pass" />
          <!-- Stop the daemon on exit? -->
          <ns2:StopOnExit Value="False" />
          <!-- Start mining to the previously set mining address on startup? -->
          <ns2:AutoStartMining Value="True" />
          <!-- threads to use for mining -->
          <ns4:MiningThreads Value="6" />
          <!-- Reconnect to an existing daemon process?
          This may cause problems and is only recommended if you know what you are doing.
          The daemon must be started with the same configuration as set in this file.
          The program WILL FAIL if you try to reconnect to an already running daemon
          and have changed this file. You can override this by passing in the command line option
          'new-daemon' which will recreate the daemon on startup regardless of this setting 
          if this has not made sense, set this value to False -->
          <ns2:ReconnectToDaemonProcess Value="True" />
        </Properties>
      </ns3:Daemon>
      <ns5:Wallet>
        <Fields />
        <Properties />
      </ns5:Wallet>
    </Properties>
  </ns0:Asset>
  <Shared />
</Content>